body{
    background-image: url("../img/ac.jpg");
    /* background-repeat: none; */
    /* background-size: cover; */

}
div{
    height: 206px;
    width: 206px;
    border: 2px solid rgb(244, 242, 242);
    float: left;
    margin: 20px;
}
#divA{
    background-image: url("../img/back_mantel.jpg");
}
#divB{
    background-clip: content-box;
    background-image: url("../img/back_mantel.jpg");
    height: 160px;
    width: 160px;
    padding: 20px;
    
}
